.header-col-img {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form {
    // width: 100%;
}

.header-ctn {
    width: 100%;
}

.header-navbar {
    background-color: $primary !important;
}

.header-router-ctn {
    background: white;
    padding: 20px;
    margin-top: 10px;
}

.header-form-control {
    border-radius: 0px !important;
    border: 1px solid white !important;
}

.header-form-btn {
    border-radius: 0px !important;
    color: #707070 !important;
    background: #dfdfdf;
    border: 1px solid #dfdfdf;
}