.product-col-img {
    text-align: center;
    display: flex;
    justify-content: center;
}

.product-p-title {
    font-size: 14px;
}

.product-span-site_id {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto !important;
    text-align: center;
    font-size: 13px;
}

.product-col-span {
    display: table;
}