.product-detail-p-condition {
    font-size: 11px;
    margin-bottom: 0;
}

.product-detail-p-price {
    font-size: 34px;
}

.product-detail-p-title {
    font-weight: bold;
}

.product-detail-btn {
    width: 100%;
    border-radius: 0;
}

.product-detail-description-title {
    font-size: 20px;
}

.product-detail-p-description {
    font-size: 13px;
    text-align: justify;
}

.product-detail-col-img {
    text-align: center;
    display: flex;
    justify-content: center;
}